/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.header {
  background-image: url(file:///Users/lubovpozdeeva/Documents/IronHack/1_module/1_week/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;
  font-size: 1.8em;
  color:white;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.description{
  padding:20px;
}

.image-box{
  text-align: center;
  padding:30px 0;
  border-bottom: 1px solid black;
}

img {
  width: 50%;
  max-width:500px;
}

.ingredients {
  list-style-type: "- ";
}
.list {
  padding: 20px;;
  font-size: 14px;
}
li{
  margin-bottom: 3px;;
}

ol {
  /* 1. Remove the default list style */  
  list-style: none;
}

ol > li {
  /* 2. Create a custom list counter */  
  counter-increment: listcounter;
}

ol > li::before {
  /*3. Set the new style for the list markers */
  content: counter(listcounter) ") ";
}